.github-corner {
  border-bottom: 0;
  text-decoration: none;
  z-index: 1;
}

.github-corner:hover .nod .octo-body {
  animation: octocat-nod .56s ease-in-out;
}

@media screen and (max-width: 768px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-nod .56s ease-in-out;
  }
}

@keyframes octocat-nod {

  0%,
  to {
    transform: rotate(10deg);
  }

  20%,
  60% {
    transform: rotate(10deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

.github-corner svg {
  color: #fff;
  fill: black;
}